.login {
  display: grid;
  justify-content: center;
  grid-template-areas: 'form illustration';
  grid-template-columns: 45% 45%;
  gap: 10%;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

.formWrapper {
  grid-area: form;
  padding: 0;
  margin: 0;
}

.illustration {
  width: 100%;
  grid-area: illustration;
  align-self: flex-end;
}

.title {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.375rem;
  margin-bottom: 80px;
}

.input {
  margin-bottom: 35px;
  width: 100%;
}

.button {
  display: block;
  width: 100%;
}

.button:first-of-type {
  margin-bottom: 24px;
}

.label {
  font-family: "Nunito";
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}


@media (max-width: 1060px) {
  .title {
    font-size: 3rem;
    line-height: 3.375rem;
  }
}

@media (max-width: 800px) {
  .login {
    grid-template-areas: 'illustration'
                          'form';
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .form {
    width: 100%;
  }

  .illustration {
    width: 60%;
    justify-self: center;
    align-self: flex-end;
  }

  .title {
    display: none;
  }
}