.input {
    padding: 7px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: inherit;
}

.input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}