.input {
  padding: 7px 30px;
  border: 1px solid var(--inputBorderColor);
  border-radius: 12px;
  background: inherit;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: inherit;
}

.input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.variant_secondary {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 13px 15px;
}

.variant_secondary:focus {
  border-width: 2px;
}

.color_orange {
  border: 1px solid #ffe0b2;
}

.color_dark {
  border: 1px solid #424242c2;
}

.color_dark::placeholder {
  color: var(--contrastShade1OrPrimary1);
}

.color_dark:focus {
  border-color: #424242;
}

.color_orange:focus {
  border-color: #ffe0b2;
}
