.datePicker {
  border-radius: 12px;
  width: 100%;
  display: block;
  text-align: left;

  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border-color: #424242;
}

.wrapper {
  width: 100%;
}
