.inputContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.inputLabel {
  text-align: end;
  min-width: 90px;
}

.variant_secondary {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
