.inputContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  white-space: nowrap;
}

.inputLabel {
  text-align: end;
  min-width: 90px;
}

.inputContainer.top {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.inputContainer.top .inputLabel {
  min-width: 0;
}

.select {
  padding: 7px 30px;
  border: 1px solid var(--inputBorderColor);
  border-radius: 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: inherit;
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-position: calc(100% - 12px) center !important;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  padding: 8px 32px 8px 16px;
}
/* To remove the arrow of select element in IE */
.select::-ms-expand {
  display: none;
}

.variant_secondary {
  font-weight: 700;
  font-size: 18px;
}
