.title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 80px;
}

.cross {
    height: 34px;
    width: 34px;
    margin-top: 80px;
}

.title-first_form {
    margin-top: 75px;
}

.task_name {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    transition: 0.5s;
    color: #C28327;  
}

/* .title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    margin-top: 115px;
    color: #0A0A0A;
} */

.icon {
    width: 30px;
}


.icon_name {
    margin-top: 75px;
    height: 30px;
}

.icon_input {
    margin-top: 29px;
    height: 30px;
}

.titl_input {
    margin-top: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0A0A0A;
    padding-left: 0;
}

.titl_name {
    margin-top: 75px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0A0A0A;
    padding-left: 0;
}

.form-control-username {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 521px;
    /* height: 65px; */
    border: 3px solid #FFE0B2;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.form_p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #9E9E9E;
}

.form-control-username-descript {
    height: 233px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 521px;
    /* height: 65px; */
    border: 3px solid #FFE0B2;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.form-control-username-plans {
    margin-top: 18px;
}

.btn {
    display: block;
    padding: 8px 28px;
    width: 320px;
    height: 60px;
    background: #FFE0B2;
    border-radius: 8px;

    margin-top: 30px;
}

.btn_text {
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 49px;
    text-align: center;
    padding-top: 0;
    color: #FFE0B2;
    background: #FFE0B2;
}

.illustration {
    background: url('./img/Illustation.svg') no-repeat ;
    background-size: 100% 100%;
    width: 42%;
    height: 273px;
    position: absolute;
    left: 33%;
}

.btn {
    display: block;
    padding: 8px 28px;
    width: 521px;
    height: 60px;
    background: #FFE0B2;
    border-radius: 8px;

    margin-top: 18px;
}

.btn_text {
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    padding-top: 0;
    color: #000000;
}

.btn2 {
    display: block;
    padding: 8px 28px;
    width: 270px;
    height: 77px;
    margin-top: 168px;
    background: #FFE0B2;
    border-radius: 8px;
}

.btn_text2 {
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    padding-top: 0;
    color: #000000;
}

.hrf1 {
    text-align: center; 
    font-size: 19px;
    font-weight: 400;
    font-family: 'Nunito';
    font-style: normal;
    line-height: 33px;
    margin-top: 10px;
    margin-left: 30px;
}