.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 132px 1fr;
    grid-template-rows: auto 1fr auto;
    background: var(--primaryColor);
}

.header {
    background: var(--secondaryOrContrastShade1);
    color: var(--contrastOrPrimary);
    grid-column: 1 / 3;
    height: 104px;
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
    z-index: 1;
}

.sidebar {
    background: var(--secondaryOrContrastShade1);
    color: var(--contrastOrPrimary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background: var(--secondaryOrContrastShade1);
    color: var(--contrastOrPrimary);
    height: 50px;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
}

.main {
    padding: 40px 110px;
    background: var(--secondaryShade1OrConstrast);
    color: var(--contrastOrPrimary);
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 33px;
}

/* gleb-and-gleb adaptiv */


@media (max-width: 1100px) {
    .header {
        display: none;
    }
}
@media (max-width: 760px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
    .main {
        padding: 40px 34px;
    }
}
@media (max-width: 400px) {
    .main {
        padding: 40px 24px;
    }
}