.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 132px 1fr;
    grid-template-rows: auto 1fr auto;
    background: #FFF4E2;
}

.header {
    background: #FFF8EE;
    grid-column: 1 / 3;
    height: 104px;
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF9F0;
}

.footer {
    height: 50px;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9F0;
}

.main {
    padding: 40px 110px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 33px;
}