@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');

/* Grid Layouts style */

.dashboard {
    font-family: 'Nunito', sans-serif;
    background-color: var(--primaryColor);
}

.dashboard h3 {
    color: var(--textColor);
}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--textColor);
}

.mainStatistics {
    margin-top: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gleb-and-gleb adaptiv */
    flex-wrap: wrap;
    gap: 44px;
}

.mainCardViolet {
    background: var(--violetCardColor);
    box-shadow: 0px 15px 30px var(--violetCardShadow);
}

.mainCardYellow {
    background: var(--yellowCardColor);
    box-shadow: 0px 15px 30px var(--yellowCardShadow);
}

.mainCardGreen {
    background: var(--greenCardColor);
    box-shadow: 0px 15px 30px var(--greenCardShadow);
}

.mainCard h3 {
    display: block;
}

.mainName {
    margin: 20px 0 0 20px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.mainCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.mainCount img {
    margin-left: 6px;
}

.mainNumber {
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
}

.mainZigzag {
    position: absolute;
    bottom: 16px;
}

/* secondaryItems Grid Layout */

.secondaryItems {
    margin-top: 60px;
    display: grid;
    grid-template: 
        "circleCard genderCard targetCard" auto
        "circleCard ageCard targetCard" 1fr /
        4fr 5fr 3fr;
    gap: 20px 40px;
}

.circleCard {
    grid-area: circleCard;
}

.genderCard {
    grid-area: genderCard;
}

.ageCard {
    grid-area: ageCard;
    height: 100%;
}

.targetCard {
    grid-area: targetCard;
}

.bars {
    display: flex;
    justify-content: space-around;
}

.ageCard .bars {
    width: 330px;
    align-self: center;
}

.title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: #424242;
    margin-bottom: 20px;
}

.progressBar {
    margin: 40px 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}

/* CircleChart style */

.percents {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.percents > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.value {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--dashboardNumbersColor);
    opacity: 0.5;
}

/* gleb-and-gleb adaptiv*/

@media (max-width: 1480px) {
    .secondaryItems {
        grid-template: 
            "circleCard genderCard" auto
            "circleCard ageCard" auto
            "targetCard targetCard" auto /
            4fr 5fr;
    } 
    .mainStatistics {
        justify-content: center;
    }
    .mainStatistics > div > img {
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .secondaryItems {
        grid-template: 
            "circleCard" auto
            "genderCard" auto
            "ageCard" auto
            "targetCard" auto /
            1fr;
    } 
    .circleCard canvas {
        margin: 0 auto;
        width: 70% !important;
        height: auto !important;
    }  
}
@media (max-width: 760px) {
    .heading {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
    }
    .mainStatistics {
        row-gap: 10px;
    }
    .mainStatistics > div {
        width: 300px;
        height: auto;
        padding: 20px 10px 10px 10px;
    }
    .dashboard .title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    .mainName {
        width: auto;
        margin: 0;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    .bars {
        width: 100% !important; 
    }
    .mainZigzag {
        display: none;
    }  
    .mainCount {
        position: static;
    }
    .mainNumber {
        font-size: 30px;
    }
}