@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');

/* Grid Layouts style */

.dashboard {
    font-family: 'Nunito', sans-serif;
    background-color: var(--primaryColor);
}

.dashboard h3 {
    color: var(--textColor);
}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--textColor);
}

.mainStatistics {
    margin-top: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainCardViolet {
    background: var(--violetCardColor);
    box-shadow: 0px 15px 30px var(--violetCardShadow);
}

.mainCardYellow {
    background: var(--yellowCardColor);
    box-shadow: 0px 15px 30px var(--yellowCardShadow);
}

.mainCardGreen {
    background: var(--greenCardColor);
    box-shadow: 0px 15px 30px var(--greenCardShadow);
}

.mainCard h3 {
    display: block;
}

.mainName {
    margin: 20px 0 0 20px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.mainCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.mainCount img {
    margin-left: 6px;
}

.mainNumber {
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
}

.mainZigzag {
    position: absolute;
    bottom: 16px;
}

/* secondaryItems Grid Layout */

.secondaryItems {
    margin-top: 60px;
    display: grid;
    grid-template: 
        "circleCard genderCard targetCard" auto
        "circleCard ageCard targetCard" 1fr /
        4fr 5fr 3fr;
    gap: 20px 40px;
}

.circleCard {
    grid-area: circleCard;
}

.genderCard {
    grid-area: genderCard;
}

.ageCard {
    grid-area: ageCard;
    height: 100%;
}

.targetCard {
    grid-area: targetCard;
}

.bars {
    display: flex;
    justify-content: space-around;
}

.ageCard .bars {
    width: 330px;
    align-self: center;
}

.title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: #424242;
    margin-bottom: 20px;
}

.progressBar {
    margin: 40px 0 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}

/* CircleChart style */

.percents {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.percents > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.value {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--dashboardNumbersColor);
    opacity: 0.5;
}