.graphicContainer {
  display: flex;
  margin-top: 25px;
  background: var(--secondaryShade1OrPrimaryShade2);
  flex-direction: row;
  align-items: center;
}

.graphic {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.graphic canvas {
  flex: 1;
}

.wrapper {
  background: var(--primaryOrContrast);
}

.card {
  background: var(--secondaryShade1OrPrimaryShade2);
}

@media (max-width: 1600px) { 
  .Textarea_textarea__A2SJt {
    /* width: 10px; */
  }
}

@media (max-width: 950px) { 
  .card {
    /* display: block;
    max-width: max-content;
    align-items:center; */
    display: flex;
  }

  /* .myacc_graphicContainer__A92T7 {
    display: flex;
    flex-direction: column;
    align-items:center;
  } */

  .wrapper {
    display: contents;
  }
}