.link {
    border-radius: 15px;
    padding: 8px 12px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.link:hover {
    background: #FFE0B2;
}

.label {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #424242;
}

a {
    text-decoration: none;
}