.container {
    max-width: 1000px;
    width: 90%;
    padding-bottom: 100px;
    margin: 0 auto;
}
.footer__links {
    display: flex;
    flex-direction: row;
    margin-bottom: 95px;
}
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.footer li {
    margin: 0 50px;
}
.footer a {
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--primaryFontColor);
}
.project p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #9e9e9e;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
	.footer__links {
		gap: 35px;
		flex-direction: column;
	}
	.img {
		margin: 0 auto;
	}
    .footer ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
	.adaptive {
		display: none;
	}
	.footer li {
		margin-top: 10px;
		width: 87px;
		text-align: center;
		margin: none;
	}
	.footer a {
		font-size: 18px;
	}
}