.progressBar {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
}

.label {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.675rem;
    color: #424242;
}

.bar {
    position: relative;
}

.value {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.675rem;
    color: #424242;
    opacity: 0.3;
}

.container {
    height: 20px;
    width: 100%;
    background-color:#EEEEEE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.filler {
    height: 100%;
    border-radius: inherit;
}