.button {
  border: none;
  outline: none;
  padding: 10px 28px;
  background: #ffe0b2;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.button:hover {
  background: #ffe0b2;
}
