.wrapper {
  background: var(--primaryColor);
}

.main {
  padding: 40px 0;
  padding-bottom: 118px;
}

.header {
  background: var(--secondaryOrContrastShade2);
  color: var(--contrastOrPrimary);
}

.sidebar {
  background: var(--secondaryOrContrastShade2);
  color: var(--contrastOrPrimary);
}

.footer {
  background: var(--secondaryOrContrastShade2);
  color: var(--contrastOrPrimary);
}

.main {
  background: var(--secondaryOrContrastShade2);
  color: var(--contrastOrPrimary);
}
