.page {
    background: var(--pageBgColor);
}

.container {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 180px;
}

.title {
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.375rem;
    text-align: center;
    color: var(--primaryFontColor);
    margin-bottom: 75px;
}

.list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-auto-rows: 80px;
    gap: 28px;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.item__text {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    color: var(--dimFontColor);
}

.item_current {
    background: var(--currentBgColor);
}

.item_current .item__text {
    color: var(--currentFontColor);
}

.item_target {
    border: 3px solid var(--targetBorderColor);
}

.item_lived {
    background: var(--livedBgColor);
}

.item_lived .item__text {
    color: var(--mainFontColor);
}

.item_unlived.item_target {
    border: 3px solid var(--livedBgColor);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 75px;
}

.removeBtn, .addBtn {
    display: flex;
    align-items: center;
    gap: 24px;
    background: var(--buttonBgColor);
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    color: var(--primaryFontColor);
    border: 3px solid var(--livedBgColor);
    border-radius: 8px;
    padding: 14px 28px;
}

.removeBtn:hover, .addBtn:hover {
    background: var(--livedBgColor);
}

.removeIcon path {
    stroke:var(--primaryFontColor);
}

.addIcon path {
    stroke: var(--primaryFontColor);
}

@media (max-width: 800px) {
  .container {
    padding: 40px 0 150px;
  }

  .title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .list {
    grid-template-columns: repeat(auto-fit, 48px);
    grid-auto-rows: 48px;
    gap: 11px;
  }

  .item__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .removeBtn, .addBtn {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 12px 24px;
  }

  .addIcon, .removeIcon {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 40px 0 100px;
  }
  
  .buttons {
    flex-wrap: wrap;
  }

  .removeBtn, .addBtn {
    flex-grow: 1;
    justify-content: center;
  }
}