.header {
  box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
}

.header.secondary {
  box-shadow: none;
}

.container {
  max-width: 1740px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 22px 0;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: var(--primaryFontColor);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header {
  box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
}

.header.secondary {
  box-shadow: none;
}

.title {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-left: 7%;
}

.moreButton {
  margin-left: 7%;
}

@media (max-width: 450px) {
  .flexWrapper {
    gap: 18px;
  }
}

@media (max-width: 1400px) {
  .link {
    font-size: 1.25rem;
  }

  .list {
    gap: 18px;
  }
}

@media (max-width: 1050px) {
  .link {
    font-size: 1rem;
  }

  .list {
    gap: 10px;
  }
}

@media (min-width: 860px) {
  .flexWrapper {
    display: none;
  }
}

@media (max-width: 860px) {
  .link {
    font-size: 0.9rem;
  }

  .list {
    gap: 7px;
  }

  .navigation, .buttons {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
  }

  .header {
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
  }
  
  .header.secondary {
    box-shadow: none;
  }
  
  .link {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 500px) {

}

