.header {
    box-shadow: 0px 4px 50px rgba(125, 5, 5, 0.13);
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}