.listItem {
  background: var(--primaryShade3OrContrastShade3);
  border-radius: 7px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.listItem + .listItem {
  margin-top: 10px;
}

.itemValue {
  border: 2px solid #42424247;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  color: #424242;
}

.wrapper {
  width: 100%;
}

.wrapper + .wrapper {
  border-left: 1px solid;
  padding-left: 20px;

  border-left-color: #d9d9d9;
}
