.card {
  padding: 20px 30px 30px;
  background: var(--primaryOrPrimaryShade2);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.white {
  background: white;
}
