:root {

    /* bind colors */
    --primaryColor: #FFF;
    --primaryColorShade1: #CDCDCD;
    --primaryColorShade2: #616161;

    --secondaryColor: #FFF8EE;
    --secondaryColorShade1: #FFF4E2;
    --secondaryColorShade2: #FFE0B2;

    --contrastColor: #1F1F1F;
    --contrastColorShade1: #424242;

}

#root[data-theme='light'] {
    --primaryOrPrimaryShade2: var(--primaryColor);
    --secondaryShade1OrPrimaryShade2: var(--secondaryColorShade1);
    --contrastOrPrimary: var(--contrastColor);
    --primaryOrContrast: var(--primaryColor);
    --secondaryOrContrastShade1: var(--secondaryColor);
    --secondaryShade1OrConstrast: var(--secondaryColorShade1);

    --inputBorderColor: rgba(0, 0, 0, 0.1);
}

#root[data-theme='dark'] {
    --primaryOrPrimaryShade2: var(--primaryColorShade2);
    --secondaryShade1OrPrimaryShade2: var(--primaryColorShade2);
    --contrastOrPrimary: var(--primaryColor);
    --primaryOrContrast: var(--contrastColor);
    --secondaryOrContrastShade1: var(--contrastColorShade1);
    --secondaryShade1OrConstrast: var(--contrastColor);

    --inputBorderColor: rgba(255, 255, 255, 0.1);
}

#root {
    background: var(--primaryColor);
}