:root {
    --primaryColor: #fff4e4;
    --secondaryColor: white;
    --dashboardNumbersColor: #424242;

    --violetCardColor: linear-gradient(106.68deg, #AC5EEA 14.35%, #7820BE 83.41%);
    --yellowCardColor: linear-gradient(106.68deg, #F5D83D 14.35%, #E89822 83.41%);
    --greenCardColor: linear-gradient(104.82deg, #C0EC61 14.75%, #E0E32E 84.54%);

    --violetCardShadow: rgba(96, 18, 156, 0.31);
    --yellowCardShadow: rgba(190, 119, 11, 0.31);
    --greenCardShadow: rgba(46, 156, 18, 0.31);
}

#root[data-theme='dark'] {
    --primaryColor: #1f1f1f;
    --textColor: white;
    --secondaryColor: #616161;
    --dashboardNumbersColor: white;

    --mainCardColor: #757575;
    --violetCardColor: var(--mainCardColor);
    --yellowCardColor: var(--mainCardColor);
    --greenCardColor: var(--mainCardColor);

    --mainCardShadow: rgba(0, 0, 0, 0.31);
    --violetCardShadow: var(--mainCardShadow);
    --yellowCardShadow: var(--mainCardShadow);
    --greenCardShadow: var(--mainCardShadow);
}

#root {
    background: var(--primaryColor);
}