.userList {
  margin-top: 20px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
