.wrapper {
    border: 2px solid var(--livedBgColor);
    border-radius: 8px;
    width: 90px;
    position: relative;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 3px 15px;
}

button:hover {
    background: var(--buttonBgColor);
}

.chooseButton, .list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.375rem;
    color: var(--primaryFontColor);
}

.langItem {
    border-top: 2px solid var(--livedBgColor);
    width: 100%;
}

.button {
    width: 100%;
}

.triangleIcon {
    transition: transform 0.3s ease-in-out;
}

.triangleIcon path {
    fill: var(--primaryFontColor);
}

.triangleIcon_open {
    transform: rotate(180deg);
}

.triangleIcon_close {
    transform: rotate(180deg);
}

.list {
    position: absolute;
    border: 2px solid var(--livedBgColor);
    border-radius: 8px;
    width: 90px;
    left: -2px;
    z-index: 2;
}